mixin companyLogos(logos)
  ul.company-logos
    each logo in logos
      li.company-logos__item
        a(href=logo.url rel="noopener" target="_blank" aria-label=logo.ariaLabel)
          img(src=`/assets/images/${logo.fileName}` alt=logo.alt width=logo.width height=logo.height loading="lazy")
