mixin postLinks(posts)
  ul.posts
    each post in posts
      li.posts__post
        if post.external
          a.posts__post-link(href!=post.href, target="_blank" rel="noopener")
            h3=post.title
            if post.description
              p.posts__post-description=post.description
            span.posts__post-date=post.date
            img.posts__post-external-icon(src="/assets/images/external-link.svg" alt="External link")
        else
          a.posts__post-link(href!=post.href)
            h3=post.title
            if post.description
              p.posts__post-description=post.description
            span.posts__post-date=post.date
