mixin testimonials(testimonials)
  .content-grid.content-grid--3col
    each testimonial in testimonials
      .content-grid__item
        figure.testimonial
          img.testimonial__image(src=testimonial.src alt=testimonial.alt)
          .testimonial__text
            p.testimonial__quote=testimonial.text
            figcaption.testimonial__citation
              cite
                =testimonial.author
                a(href=testimonial.logoHref)
                  img.testimonial__logo(src=`/assets/images/${testimonial.logoSrc}` alt=testimonial.logoTitle)


