block vars
  -var pageTitle = "Mike Carter | Web development consultant | London UK"
  -var metaTitle = "Mike Carter"
  -var metaDescription = "I'm a web application development consultant who brings digital products to market with solid foundations, room to scale, and costs under control."
  -var metaUrl = "https://mcarter.me"
  -var metaImage = "https://mcarter.me/assets/images/me.jpg"

doctype html
html(lang="en-GB")
  head
    meta(charset='utf-8')
    link(rel='shortcut icon' href='/favicon.ico' type='image/x-icon')
    link(rel='icon' href='/favicon.ico' type='image/x-icon')
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="manifest" href="/site.webmanifest")
    link(rel="alternate" type="application/rss+xml" title="Subscribe for posts on web applications development and making a living as a solo developer." href="https://mcarter.me/rss.xml")
    meta(name='description' content=metaDescription)
    meta(property='og:url' content=metaUrl)
    meta(property='og:title' content=metaTitle)
    meta(property='og:image' content=metaImage)
    meta(property='og:description' content=metaDescription)
    meta(name='twitter:title' content=metaTitle)
    meta(name='twitter:image' content=metaImage)
    meta(name='twitter:description' content=metaDescription)
    meta(name='twitter:card' content='summary')
    meta(name='twitter:site' content='@mcarterj')
    meta(name='twitter:creator' content='@mcarterj')
    meta(name='author' content='Mike Carter')
    meta(name='theme-color' content='#000000')
    meta(name='viewport' content='width=device-width,initial-scale=1,shrink-to-fit=no')
    link(rel='stylesheet' type='text/css' href='/assets/styles/main.css' media='screen')
    script(async src="https://app.useparable.com/widget/parable.js")
    link(rel='canonincal' href=metaUrl)
    block cssIncludes

    title=pageTitle
    
  body(class=bodyClass)
    block pageContent
